//占位
.occ{
    height:0.5rem;
}

//书城页面阶段标题css
.titlebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 14px;
    margin-top:0.05rem;
    color:#00bbff;
    .left{
        margin-left:0.05rem;
        display: flex;
        align-content: center;
        justify-content: center;
        .t_mark{
            display: block;
            width:0.05rem;
            height:0.13rem;
            background: #00bbff;
            margin-right:0.05rem;
        }
    }
    .right{
       
        margin-right: 0.05rem;
    }
     
 }

